*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}
#col-1{
    line-height: 1.5;
    color: #85a392;
}
body{
    background: #f7f7f7;
    font-family: 'Cairo';
}
hr{
    background: #141425;
    box-shadow: 2px 2px 2px 1px rgba(24, 21, 32, 0.212);   
}
h1{
    color: #010a43;
    font-weight: 500;
}
h2{
    font-size: 30px;
    font-weight: 400;
}

.container{

    /* background-color: #4d3e3e; */
    padding: 10px 0px;
    margin: auto;
}
    .header{
        /* background: #565d47; */
        height: 150px;
        padding: 0 50px;
        display: flex;
        flex-flow: row nowrap;
    }
        .logo{
            /* background: #608315; */
            text-align: center;
            flex: 1 1 auto;

        }
        .logo img{
            width: 110px;
         }
        .social-navbar{
            /* background: #131b61; */
            flex: 2 1 auto;
            /* text-align: right; */
            display: flex;
            flex-flow: column nowrap;
        }
            .redes{
                padding-right:16px ;
                flex: 1 1 auto;
                /* background: #520e1f; */
                display: flex;
                flex-flow: row-reverse;
                
            }
            .redes div{
                padding-left: 10px;
            }   
            .redes a{
                font-size: 25px;
                color: black;
                padding: 0 5px;
            }
            .fb:hover{
                color: rgb(39, 91, 168);
                transition: all .2s;
            }
            .yt:hover{
                color: red;
                transition: all .2s;
            }
            .tw:hover{
                color: skyblue;
                transition: all .2s;
            } 
                        
			/* Menu */
            .nabvar {
				width:auto;
                font-family:'Cairo';
                text-align: right;
            }
            
			ul, ol {
				list-style:none;
			}
			.nav > li {
                display: inline-block;
            }
			.nav li a {
                text-transform: uppercase;
				color:#565d47;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
                color:#16cf0f;
                transition: all .2s;
			}
			
			.nav li ul {
                
                text-align: left;
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
                background: rgba(240, 239, 241, 0.918);
				display:block;
			}
			
			.nav li ul li {
				position:relative;
            }
            .nav > li > ul > li > a{
                text-transform: capitalize;
            }
			.nav > li > ul > li > ul a{
                text-transform: capitalize;
            }
			.nav li ul li .our-cl {
				right:-217px;
				top:0px;
            }
            .nav li ul li .our-cm {
				right:-180px;
				top:0px;
            }
            .nav > li > ul > li > a:hover{
                color: #f7f7f7;
                background-color: #2b580c;
                transition: all .2s;
            }
            .nav > li > ul > li > .our-cl > li a:hover{
                color: #f7f7f7;
                background-color: #2b580c;
                transition: all .2s;
            }
            .nav > li > ul > li > .our-cm > li a:hover{
                color: #f7f7f7;
                background-color: #2b580c;
                transition: all .2s;
            }

    /* Slider */
    .slider{
        border-top: 1px solid #222831;
        width: 100%;
        height: 300px;
        margin: auto;
        overflow: hidden;
    }
        .slider ul{
            display: flex;
            padding: 0px;
            width: 400%;
            animation: cambio 20s infinite alternate;
            animation-timing-function: ease;
        }
            .slider li{
                list-style: none;
                width: 100%;
                
            }
                .slider img{
                    display: block;
                    height: auto;
                    width: 100%;
                }

 
                
    .section{
        /* background: #16cf0f; */
        border-bottom: 1px solid #bdc2cc;
        box-shadow: 2px 2px 2px 1px rgba(145, 141, 141, 0.3);  
        height: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
    }
        .sider-left{
            /* background: blueviolet; */
            padding: 20px 10px 120px 10px;
            margin: 0.1em;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 200px;
            display: flex;
            flex-direction: column;
        }
        .img-col{
            /* background: rgb(25, 37, 77); */
            padding: 20px 10px;
            margin: 20px;
            flex-grow: 3;
            flex-shrink: 0;
            flex-basis: 200px;
        }
        .img-col img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 10px;
        }    
        
        .main{
            /* background: blueviolet; */
            padding: 20px 10px 120px 10px;
            margin: 0.1em;
            flex-grow: 3;
            flex-shrink: 0;
            flex-basis: 200px;
        }
        
        .main h2{
            font-size: 40px;
            text-align: left;
            color: #128d3b;
            padding-left: 20px;
        }
        .main p{
            text-align: left;
            color: #85a392;
            margin: 20px;
        }
        
    .footer{
        background: #f0f0f0;
        padding: 20px 40px;
        margin: 3px 0px 0px 0px;
    }
        .container-footer{
            background: #f0f0f0;
            height: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;
        }
            .container-footer .col-ft{
                background: #f0f0f0;
                padding: 0px 10px;
                margin: 0.1em;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 200px;
            }

                .container-footer .col-ft img{
                    width: 110px;
                }
                .container-footer .col-ft h4{
                    color: #010a43;
                    font-family: 'Cairo';
                    line-height: 1.2;
                    font-size: 22px;
                    font-weight: 500;
                }
    .btn-ft{
        text-align: center;
        }
        .btn-ft img{
            width: 15%;
            padding: 20px;
        }




